/* About Section */
.heading-grid {
    display: grid;
    grid-template-columns: 100px 113px max-content;
    grid-template-rows: 10px 1fr 10px;
    align-items: center;
    justify-items: start;
}

.watermark-text {
    --font-size: 110px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    margin-bottom: 5px;
    margin-right: calc(var(--font-size) * 0.02);
    color: var(--clr-second);
    font-size: var(--font-size);
    font-weight: 600;
    line-height: calc(var(--font-size) * .98);
    white-space: no-wrap;
    opacity: .05;
}

.heading-text {
    grid-column: 2/ 3;
    grid-row: 2/3;
    color: var(--clr-main );
    font-size: 64px;
    line-height: 1;
    white-space: nowrap;
}

.heading-border {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid var(--clr-main);
    border-radius: 3px;
    z-index: -1;
}

.heading-border::after {
    position: absolute;
    content: "";
    top: 12px; 
    left: -1px; 
    height: calc(100% - 24px); 
    border-left: 3px solid var(--clr-bkgd);
}

.inner-container-two {
/* 
    display: flex;
    justify-content: center;
    flex-direction: column; */
}

.about-grid {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 80px minmax(200px, 1fr) minmax(200px, 1fr);
    column-gap: 20px;
}

.about-icons--full {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.about-icons--full {
    color: rgba(126, 42, 205, 0.6);
}

.about-icons--full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: var(--clr-main);
    height: 100%;
}

.about-text-container {
    display: flex;
    /* max-width: 600px; */
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about-text {
    font-family: var(--font-family-sub-text);
    color: var(--clr-second);
    font-size: 20px;
}
.about-text:not(:first-child) {
    /* margin-top: 3rem; */

}

.about-image {
    padding-left: 2rem;
    display: block;
    width: 100%;
    height: auto;
    /* border-radius: 5px; */
    filter: sepia(80%)
}

.btn--read-more {
    /* margin-top: 2rem; */
    padding: .5em 1em;
    border-radius: 3px;
    color: var(--clr-bkgd);
    font-size: 16px;
    background: var(--clr-main);
    width: max-content;
    align-self:end;

}

.btn--read-more span {
    margin-right: 0.7em;
}