.about-section-wrapper {
    margin-top: 6rem;
}

.section-margin-top-xl {
    padding-top: 3rem;
}

/* About Section */
.heading-grid--full {
    display: grid;
    grid-template-columns: 100px 113px max-content;
    grid-template-rows: 10px 1fr 10px;
    align-items: center;
    justify-items: start;
}

.watermark-text {
    --watermark-font-size: 110px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    margin-bottom: 5px;
    margin-right: calc(var(--watermark-font-size) * 0.02);
    color: var(--clr-second);
    font-size: var(--watermark-font-size);
    font-weight: 600;
    line-height: calc(var(--watermark-font-size) * .98);
    white-space: no-wrap;
    opacity: .05;
}

.watermark-text--mobile {
    --watermark-font-size--mobile: 50px;
    opacity: .1;
    color: var(--clr-second);
    font-size: var(--watermark-font-size--mobile);
    font-weight: 600;
    text-align: right;
}

.mobile-header-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.mobile-section-header {
    font-size: 2rem;
    color: var(--clr-main);
}

.heading-text {
    grid-column: 2/ 3;
    grid-row: 2/3;
    color: var(--clr-main );
    font-size: 64px;
    line-height: 1;
    white-space: nowrap;
}

.heading-border {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid var(--clr-main);
    border-radius: 3px;
    z-index: -1;
    opacity: 0.3;
}

.heading-border::after {
    position: absolute;
    content: "";
    top: 12px; 
    left: -1px; 
    height: calc(100% - 24px); 
    border-left: 3px solid var(--clr-bkgd);
}

.about-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 80px minmax(200px, 1fr) minmax(200px, 1fr);
    column-gap: 20px;
}

.about-icons--full {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(126, 42, 205, 0.6);
    color: var(--clr-main);
}

.about-icons--mobile {
    margin-top: 1.2em;
    display: none;
    justify-content: flex-end;
    color: var(--clr-third);
}

.about-icons--full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: var(--clr-main);
    height: 100%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about-text {
    font-family: var(--font-family-sub-text);
    color: var(--clr-second);
    font-size: 1.25rem;
}

.about-image {
    padding-left: 2rem;
    display: block;
    width: 100%;
    height: auto;
    filter: sepia(80%)
}

.btn--read-more {
    padding: .5em 1em;
    border-radius: 3px;
    color: var(--clr-bkgd);
    font-size: 1rem;
    background: var(--clr-main);
    width: max-content;
    align-self: end;
}

.btn--read-more span {
    margin-right: 0.7em;
}

@media screen and (max-width: 960px) {
    .watermark-text {
        --watermark-font-size: 80px;
        /* grid-row: 1/-1;
        grid-column: 1/-1;
        margin-bottom: 5px;
        margin-right: calc(var(--watermark-font-size) * 0.02);
        color: var(--clr-second);
        font-size: var(--watermark-font-size);
        font-weight: 600;
        line-height: calc(var(--watermark-font-size) * .98);
        white-space: no-wrap;
        opacity: .05; */
    }
    
    .heading-text {
        grid-column: 2/ 3;
        grid-row: 2/3;
        color: var(--clr-main );
        font-size: 40px;
        line-height: 1;
        white-space: nowrap;
    }
}

@media screen and (max-width: 800px) {
    .about-text {
        font-size: 1rem;
    }
}

.social-icon--mobile:not(:first-child) {
    margin-left: 2em;
}

.social-icon--mobile:last-child {
    margin-right: 0.3em;
}

@media screen and (max-width: 700px) {
    .section-margin-top-xl {
        padding-top: 0rem;
    }

    .about-section-wrapper {
        margin-top: 4rem;
    }

    .heading-grid--full {
        display: none;
    }

    .mobile-header-container {
        display: flex;
        
    }

    .mobile-section-header {
        font-size: clamp(24px, 5vw + 2px,  2rem);
    }

    .watermark-text--mobile {
        font-size: clamp(1.5rem, 5vw + 10px, 50px);
    }

    .about-grid {
        padding: 2rem 0;
        grid-template-columns: 1fr;
    }

    .about-image {
        order: -1;
        padding-left: 0;
        margin-bottom: 2em;
    }

    .about-icons--full {
        display: none;
    }

    .about-icons--mobile {
        display: flex;
    }

    .btn--read-more {
            margin-top: 1em;
            font-size: 1rem;
    }
}

@media screen and (max-width: 450px) { 
    .social-icon--mobile:not(:first-child) {
        margin-left: 1.5em;
    }

    .btn--read-more {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px) { 
    .watermark-text--mobile {
        display: none;
    }
    .social-icon--mobile:not(:first-child) {
        margin-left: 1em;
    }

    .social-icon--mobile:last-child {
        margin-right: 0.1em;
    }
}

/* Works Section */
.works-grid {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 2rem;
}

.work-card {
    border-radius: 5px;
    padding: 1rem;
    background: rgba(232, 211, 189, 0.1);
    filter: drop-shadow(4px 4px 10px rgba(0,0,0, 0.5));
}

.works-grid img {
    display: inline-block;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0, 0.3));
}

.work-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: var(--clr-main);
    font-family: var(--font-family-sub-text);

}

@media screen and (max-width: 800px) {
    .works-grid {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr;
    }
}