.about-section-wrapper {
    margin-top: 6rem;
}

.section-padding {
    padding: 8rem 0 8rem 0;
}

.pos-relative {
    position: relative;
}

/* .section-margin-top-xl {
    padding-top: 3rem;
} */

/* About Section */
.heading-grid--full {
    display: grid;
    grid-template-columns: 100px 113px max-content;
    grid-template-rows: 10px 1fr 10px;
    align-items: center;
    justify-items: start;
}

.watermark-text {
    --watermark-font-size: 110px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    margin-bottom: 5px;
    margin-right: calc(var(--watermark-font-size) * 0.02);
    color: var(--clr-second);
    font-size: var(--watermark-font-size);
    font-weight: 600;
    line-height: calc(var(--watermark-font-size) * .98);
    white-space: no-wrap;
    opacity: .05;
}

.watermark-text--mobile {
    --watermark-font-size--mobile: 50px;
    opacity: .1;
    color: var(--clr-second);
    font-size: var(--watermark-font-size--mobile);
    font-weight: 600;
    text-align: right;
}

.mobile-header-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.mobile-section-header {
    font-size: 2rem;
    color: var(--clr-main);
}

.heading-text {
    grid-column: 2/ 3;
    grid-row: 2/3;
    color: var(--clr-main );
    font-size: 64px;
    line-height: 1;
    white-space: nowrap;
}

.heading-border {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid var(--clr-main);
    border-radius: 3px;
    z-index: -1;
    opacity: 0.3;
}

.heading-border::after {
    position: absolute;
    content: "";
    top: 12px; 
    left: -1px; 
    height: calc(100% - 24px); 
    border-left: 3px solid var(--clr-bkgd);
}

.about-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: var(--icon-grid-column-width) minmax(200px, 1fr) minmax(200px, 1fr);
    column-gap: 20px;
}

.about-icons--full {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(126, 42, 205, 0.6);
    color: var(--clr-main);
}

.about-icons--mobile {
    margin-top: 1.2em;
    display: none;
    justify-content: flex-end;
    color: var(--clr-third);
}

.footer-icons--mobile {
    margin-top: 0em;
    margin-bottom: 1.2em;
    display: none;
    justify-content: center;
    color: var(--clr-third);
}

.about-icons--full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: var(--clr-main);
    height: 100%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about-text {
    font-family: var(--font-family-sub-text);
    color: var(--clr-second);
    font-size: 1.25rem;
}

.about-image {
    padding-left: 2rem;
    display: block;
    width: 100%;
    height: auto;
    filter: sepia(80%)
}

.btn--read-more {
    padding: .5em 1em;
    border-radius: 3px;
    color: var(--clr-bkgd);
    font-size: 1rem;
    background: var(--clr-main);
    width: max-content;
    align-self: end;
}

.btn--read-more span {
    margin-right: 0.7em;
}

@media screen and (max-width: 960px) {
    .watermark-text {
        --watermark-font-size: 80px;
    }
    
    .heading-text {
        grid-column: 2/ 3;
        grid-row: 2/3;
        color: var(--clr-main );
        font-size: 40px;
        line-height: 1;
        white-space: nowrap;
    }
}

@media screen and (max-width: 800px) {
    .about-text {
        font-size: 1rem;
    }
}

.social-icon--mobile:not(:first-child) {
    margin-left: 2em;
}

.social-icon--mobile:last-child {
    margin-right: 0.3em;
}

@media screen and (max-width: 700px) {
    .section-margin-top-xl {
        padding-top: 0rem;
    }

    .about-section-wrapper {
        margin-top: 4rem;
    }

    .heading-grid--full {
        display: none;
    }

    .mobile-header-container {
        display: flex;
    }

    .mobile-section-header {
        font-size: clamp(24px, 5vw + 2px,  2rem);
    }

    .watermark-text--mobile {
        font-size: clamp(1.5rem, 5vw + 10px, 50px);
    }

    .about-grid {
        padding: 2rem 0;
        grid-template-columns: 1fr;
    }

    .about-image {
        order: -1;
        padding-left: 0;
        margin-bottom: 2em;
    }

    .about-icons--full {
        display: none;
    }

    .about-icons--mobile {
        display: flex;
    }

    .footer-icons--mobile {
        display: flex;
    }

    .btn--read-more {
            margin-top: 1em;
            font-size: 1rem;
    }
}

@media screen and (max-width: 450px) { 
    .social-icon--mobile:not(:first-child) {
        margin-left: 1.5em;
    }

    .btn--read-more {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px) { 
    .watermark-text--mobile {
        display: none;
    }
    .social-icon--mobile:not(:first-child) {
        margin-left: 1em;
    }

    .social-icon--mobile:last-child {
        margin-right: 0.1em;
    }
}

/* Works Section */
.works-grid {
    padding: 3rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 2rem;
}

.work-card {
    display: block;
    border-radius: 5px;
    padding: 1rem;
    background: rgba(232, 211, 189, 0.1);
    filter: drop-shadow(4px 4px 10px rgba(0,0,0, 0.5));
}

.works-grid img {
    display: inline-block;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0, 0.1));
}

.work-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: var(--clr-main);
    font-family: var(--font-family-sub-text);
}

@media screen and (max-width: 800px) {
    .section-padding {
        padding: 6rem 0 6rem 0;
    }
    
    .works-grid {
        padding: 2rem 0 0 0;;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Connect Section */
.connect-image-container {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.connect-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -2;
        filter: sepia(100%);
}

.connect-padding {
    padding: 3rem 0
}

.connect-grid {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: var(--icon-grid-column-width) 556px ;
        column-gap: 1.25rem;
}

.contact-form-container {
    padding: 2rem;
    border-radius: 5px;
    margin-right: 2rem;
    background: rgba(0,0,0, 0.1);
    backdrop-filter: blur(40px);
    filter: drop-shadow(4px 4px 10px rgba(0,0,0, 0.5));
}

.contact-form-header {
    color: var(--clr-main);
    font-size: 2rem;
    font-weight: 500;
    text-wrap: balance;
}

.contact-form-sub-header {
    margin-top: 0.7em;
    color: var(--clr-second);
    font-size: 1rem;
    font-family: var(--font-family-sub-text);
}

.form-fields {
    margin-top: 1em;
    color: var(--clr-second);
}

.contact-input-container {
    position: relative;
    margin-top: 1em;
}

.contact-input {
    width: 100%;
    background: var(--clr-bkgd);
    background: transparent;
    border: none; 
    border-bottom: 1px solid var(--clr-main); 
    padding: .5em  .2em .2em 0em;
    color: var(--clr-main);
    font-family: var(--font-family-heading);
    font-size: 1rem;
    transition: all 250ms;
}

.contact-input:focus {
    outline: none;
    border-bottom-color: var(--clr-third); 
  }

.contact-input::placeholder {
    color: transparent;
}

.contact-label {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 1rem;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 250ms;
    pointer-events: none;
}

.contact-input:focus + .contact-label,
.contact-input:not(:placeholder-shown) + .contact-label {
  transform: translateY(-150%) scale(0.70);
}

.btn-send {
    background: var(--clr-main);
    /* margin-top: 2em; */
    padding: .5em 2em;
    border-radius: 3px;
    border: 2px solid var(--clr-main);
    color: var(--clr-bkgd);
    font-size: 1rem;
    float: right;
    cursor: pointer;
}

.btn-send:hover {
    border: 2px solid var(--clr-third);
    background: var(--clr-bkgd);
    color: var(--clr-third);
}

.text-area-container {
    position: relative;
    margin-top: 1.5em;
}

.contact-textarea {
    width: 100%;
    padding-right: 1em;
    background: transparent;
    border: none; 
    border-bottom: 1px solid var(--clr-main); 
    resize: vertical;
    height: 1.5em;
    min-height: 1.2em;
    max-height: 5em;
    color: var(--clr-main);
    font-family: var(--font-family-heading);
    font-size: 1rem;
    transition: all 250ms;
}

.contact-textarea::placeholder {
    color: transparent;
}

.contact-textarea:focus {
    outline: none;
    border-bottom-color: var(--clr-third); 
}

.text-area-label {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform-origin: left center;
    transition: all 250ms;
}

.contact-textarea:focus + .text-area-label,
.contact-textarea:not(:placeholder-shown) + .text-area-label {
    transform: translateY(-110%) scale(0.70);
}

.contact-btm-container {
    display: flex;
    justify-content: space-between;
}
 
.contact-error-message {
    margin-top: 3px;
    visibility: hidden;
    font-size: 12px;
}

.contact-success-message {
    color: var(--clr-third);
    opacity: 0;
    transition: all 500ms ease-in;
}

.contact-success-message.success-text-visible {
    opacity: 1;
}

.contact-error-message.contact-error-visible {
    visibility: visible;
}

.contact-error-message {
    color: var(--clr-error-text);
}

.contact-form-btm-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .connect-grid {
        grid-template-columns: var(--icon-grid-column-width) 1fr;
    }

    .contact-form-container {
        margin-right: 0rem;
    }
}

@media screen and (max-width: 700px) {
    .section-padding {
        padding: 4rem 0 4rem 0;
    }

    .connect-padding {
        padding: 2rem 0
    }

    .connect-grid {
        padding: 2rem 0;
        grid-template-columns: 1fr;
    }

    .contact-form-container {
        margin-right: 0rem;
    }

    .contact-form-header {
        font-size: 2rem;
        font-size: clamp(1.5rem, 5vw + 3px, 2rem);
    }
}

@media screen and (max-width: 500px) {
    .section-padding {
        padding: 3rem 0 3rem 0;
    }

    .contact-textarea:focus {
        height: 4em;
    }

    .contact-textarea:focus,
    .contact-textarea:not(:placeholder-shown) {
        height: 4em;
    }
}