*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* comment */

:root {
    --font-family-heading: "Lato", sans-serif;
    --font-family-sub-text: "Crimson Text", serif;
    --clr-main: #CD7E2A;
    --clr-second: #E8D3BD;
    --clr-third: #7E2ACD;

    --clr-error-text: #fb6f40;
    
    --clr-bkgd: #151413;

    --max-screen-width: 1800px;

    --header-height-full: 66px;
    --header-height-two: 57px; /* For page widths < 600px */
    --header-height-three: 52px;    /* For page widths < 500px */

    --page-margin-full: 8rem;
    --page-margin-six: 6rem;
    --page-margin-four: 4rem;
    --page-margin-two: 2rem;
    --page-margin-one: 1rem;

    --icon-grid-column-width: 80px;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.header-wrapper {
    width: 100%;
    background: var(--clr-bkgd);
}

body {
    font-family: var(--font-family-heading);
    background: var(--clr-bkgd);
}

.section-container {
    width: 100%;
    /* max-width: var(--max-screen-width); */
    margin: 0 auto;
}



.hero-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 1rem;
    min-height: calc(100vh - var(--header-height-full));
    /* min-height: 600px; */
    align-items: center;
    
    /* padding-bottom: 6rem; */
}

/* Hero Section */
.page-wrapper {
    width: calc(100% - var(--page-margin-full));
    max-width: var(--max-screen-width);
    margin: 0 auto;
    /* border: 1px solid red; */
}

@media screen and  (max-width: 960px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-six));
    }
}

.hero-left {
    align-self: center;
    padding-top: 2rem;
}

.name-wrapper {
    place-self: center;
    width: 95%;
    max-width: 750px;
}

.name-text-container {
    color: var(--clr-main);
    position: relative;
}

.name-text-container h1 {
    font-size: 64px;
}

.name-text-container::after {
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    position: absolute;
    background: var(--clr-main);
    background: #7E2ACD;
}

.name-sub-text-container {
    color: var(--clr-second);
    font-size: 28px;
    text-align: right;
    padding-top: 0.3em;
    font-style: italic;
}

.build-container {
    padding-top: 3rem;
}

.build-text {
    font-size: 48px;
}

.build-text span:nth-child(1) {
    color: var(--clr-second);
}

.build-text span:nth-child(2) {
    color: var(--clr-main)
}

.hero-right {
    position: relative;
    place-self: center end;
    --image-size: clamp(10px, 20vw + 10px, 425px);
}

@media screen and (max-width: 1100px) {
    .name-text-container h1 {
        font-size: clamp(1.6rem, 6vw + 5px, 64px);
    }

    .name-sub-text-container {
        font-size: 28px;
        font-size: clamp(1rem, 3vw + 2px, 28px);
    }

    .build-text {
        font-size: clamp(1.4rem, 5vw + 8px, 48px);
    }
}

.home-image-container img {
    width: auto;
    height: var(--image-size);
    filter: drop-shadow(6px 6px 8px rgba(0,0,0, 1));
}

.home-image-container--mobile img {
    width: auto;
    height: var(--image-size-mobile);
    filter: drop-shadow(6px 6px 8px rgba(0,0,0, 0.6));
    border-radius: 5px;
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, calc(var(--image-size)/2));
    grid-template-rows: 20px 20px 1fr;
}

.image-wrapper--mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    place-items: center;
    --image-size-mobile: clamp(10px, 55vw + 5px, 400px);
}

.home-image-container:nth-child(1) {
    grid-row: 1/4;
    grid-column: 3/-1;
}

.home-image-container:nth-child(2) {
    grid-row: 2/-2;
    grid-column: 2/3;
}

.home-image-container:nth-child(3) {
    grid-row: 3/-1;
    grid-column: 1/2;
}

.hero-right--mobile {
    margin: 0rem 0;
    display: none;
}

@media screen and (max-width: 1000px) {
    .hero-right--full {
        display: none;
    }

    .hero-right--mobile {
        display: block;
        --image-size: calc(32vw + 10px);
    }

    .hero-section-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    
    .hero-left {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }

    .hero-right {
        justify-self: center;
    }

    .name-wrapper {
        place-self: center end;
        width: 100%;
        max-width: 100%;
    }

    .build-container {
        padding-top: 4rem;
        padding-bottom: 2rem;
        text-align: center;
    }
  
    .image-wrapper {
        column-gap: 0.5rem;
        place-content: center;
    }

    .image-wrapper--mobile {
        place-content: center;
    }

    .home-image-container:nth-child(1) {
        grid-row: 1/4;
        grid-column: 3/-1;
    }
    
    .home-image-container:nth-child(2) {
        grid-row: 1/4;
        grid-column: 2/3;
    }
    
    .home-image-container:nth-child(3) {
        grid-row: 1/4;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 600px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-four));
    }
    .hero-section-container {
        min-height: calc(100vh - var(--header-height-two));
    }

    .hero-left {
        padding-top: 3em;
        align-self: start;
    }
}

@media screen and (max-width: 500px) {
    .hero-section-container {
        min-height: calc(100vh - var(--header-height-three));
    }
}

@media screen and (max-width: 450px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-two));
    }

    .image-wrapper {
        column-gap: 0.4rem;
        place-content: center;
    }

    .image-wrapper--mobile {
        --image-size-mobile: clamp(10px, 58vw + 16px, 400px);
    }
}

@media screen and (max-width: 400px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 56vw + 16px, 400px);
    }
}

@media screen and (max-width: 300px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 55vw + 8px, 400px);
    }
    .hero-right--mobile {
        --image-size: calc(32vw + 10px);
    }
}

@media screen and (max-width: 300px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 52vw + 8px, 400px);
    }
}

