*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* comment */

:root {
    --font-family-heading: "Lato", sans-serif;
    --font-family-sub-text: "Crimson Text", serif;
    --crimson-text-letter-spacing: 0.3px;
    --clr-main: #CD7E2A;
    --clr-second: #E8D3BD;
    --clr-third: #7E2ACD;

    --clr-error-text: #fb6f40;
    
    --clr-bkgd: #151413;

    --subtext-opacity: 0.8;

    --max-screen-width: 1800px;

    --header-height-full: 66px;
    --header-height-two: 57px; /* For page widths < 600px */
    --header-height-three: 52px;    /* For page widths < 500px */

    --page-margin-full: 8rem;
    --page-margin-six: 6rem;
    --page-margin-four: 4rem;
    --page-margin-two: 2rem;
    --page-margin-one: 1rem;

    --icon-grid-column-width: 80px;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.header-wrapper {
    width: 100%;
    background: var(--clr-bkgd);
}

body {
    font-family: var(--font-family-heading);
    background: var(--clr-bkgd);
}

.section-container {
    width: 100%;
    /* max-width: var(--max-screen-width); */
    margin: 0 auto;
}

.hero-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 0;
    min-height: max(400px, calc(100vh - var(--header-height-full)));
    min-height: max(400px, calc(100svh - var(--header-height-full)));
}

/* Hero Section */
.page-wrapper {
    width: calc(100% - var(--page-margin-full));
    max-width: var(--max-screen-width);
    margin: 0 auto;
}

@media screen and  (max-width: 960px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-six));
    }
}

.left--hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-left {
    /* align-self: center; */
    /* padding-top: 2rem; */
}

.name-wrapper {
    /* place-self: center; */
    /* width: 100%; */
    /* max-width: 750px; */
    /* padding-top: clamp(4rem, 5vw + 10px, 7rem); */
}

.name-text-container {
    height: fit-content;
    color: var(--clr-main);
    position: relative;
}

/* .hidden {
    overflow: hidden;
    height: clamp(2rem, 7vw + 7px, 72px);
    position: relative;

} */

/* .hidden-lower {
    overflow: hidden;
    height: 28px;
    position: relative;

} */

.name-text-container h1 {
    font-size: 64px;
    /* position: absolute;
    top: 100%;
    left: 0;
    animation: move-up 750ms ease-in-out forwards; */
}

@keyframes move-up {
    to {
        top: 0;
    }
}

.name-text-container::after {
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    position: absolute;
    background: var(--clr-main);
    background: #7E2ACD;
}

.name-sub-text-container {
    color: var(--clr-second);
    font-size: 28px;
    text-align: right;
    padding-top: 0.3em;
    font-style: italic;

}

/* .name-sub-text-container  p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    animation: move-down 750ms 600ms forwards
} */

@keyframes move-down {
    to{bottom: 0}
    
}


.hero--sub-header {
    margin-top: 2rem;
    max-width: 24ch;
    color: var(--clr-second);
    /* font-size: 32px; */
    font-size: clamp(1rem, 4vw + 5px, 2rem);
    line-height: 1.4;
    /* text-transform: uppercase; */

}

.hero--btm-text {
    /* position: absolute;
    bottom: 100px; */

    /* left: 0; */
    width: 100%;

 

    display: flex;
    justify-content: space-between;
    width: 100%;
  
    color: var(--clr-third);
    font-family: var(--font-family-heading);
    font-size: clamp(12px, 2.5vw + 3px, 20px);
    /* opacity: .3; */
   
}

.hero--btm-text span:nth-child(1),
.hero--btm-text span:nth-child(2),
.hero--btm-text span:nth-child(3) {
    position: absolute;
    bottom: 30px;
    opacity: 0;
}

.hero--btm-text span:nth-child(1) {
    left: -100px;
    animation: move-text-one 1200ms ease-out 1s forwards 
}

.hero--btm-text span:nth-child(2) {
    left: calc(50% - 100px);
    transform: translateX(-30%);
    animation: move-text-two 1200ms ease-out 2s forwards 
}

.hero--btm-text span:nth-child(3) {
    right: 100px;
    animation: move-text-three 1200ms ease-out 3s forwards 
}

@keyframes move-text {
    to {
        opacity: 1;
    }  
}

@keyframes move-text-one  {
    to {
        left: 0;
        opacity: 1;
    }  
}

@keyframes move-text-two  {
    to {
        left: calc(50% - 0px);
        opacity: 1;
    }  
}

@keyframes move-text-three  {
    to {
        right: 0px;
        opacity: 1;
    }  
}

.span--clr-main {
    color: var(--clr-main);
    font-family: var(--font-family-sub-text);
    font-size: 40px;
    font-size: clamp(1.1rem, 5vw + 7px, 40px);
    font-style: italic;
}

.span--clr-third {
    color: var(--clr-main);
    font-family: var(--font-family-sub-text);
    font-style: italic;
    font-size: 40px;
}


.build-container {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
}

.build-text {
    font-size: 48px;
}

.build-text span:nth-child(1) {
    color: var(--clr-second);
}

.build-text span:nth-child(2) {
    color: var(--clr-main)
}

.hero-right {
    position: relative;
    place-self: center end;
    --image-size: clamp(10px, 20vw + 10px, 425px);
}

@media screen and (max-width: 1100px) {
    .name-text-container h1 {
        font-size: clamp(1.6rem, 6vw + 5px, 64px);
    }

    .name-sub-text-container {
        font-size: 28px;
        font-size: clamp(1rem, 3vw + 2px, 28px);
    }

    .build-text {
        font-size: clamp(1.4rem, 5vw + 8px, 48px);
    }
}

.home-image-container img {
    width: auto;
    height: var(--image-size);
    filter: drop-shadow(6px 6px 8px rgba(0,0,0, 1));
}

.home-image-container--mobile img {
    width: auto;
    height: var(--image-size-mobile);
    filter: drop-shadow(6px 6px 8px rgba(0,0,0, 0.6));
    border-radius: 5px;
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, calc(var(--image-size)/2));
    grid-template-rows: 20px 20px 1fr;
}

.image-wrapper--mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    place-items: center;
    --image-size-mobile: clamp(10px, 55vw + 5px, 400px);
}

.home-image-container:nth-child(1) {
    grid-row: 1/4;
    grid-column: 3/-1;
}

.home-image-container:nth-child(2) {
    grid-row: 2/-2;
    grid-column: 2/3;
}

.home-image-container:nth-child(3) {
    grid-row: 3/-1;
    grid-column: 1/2;
}

.hero-right--mobile {
    margin: 0rem 0;
    display: none;
}

@media screen and (max-width: 1000px) {
    .hero-right--full {
        display: none;
    }

    .hero-right--mobile {
        display: block;
        --image-size: calc(32vw + 10px);
    }

    .hero-section-container {
        /* height: 50vh; */
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    
    .hero-left {
        /* height: 50%; */
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        align-items: center;
        
    }

    .hero-right {
        justify-self: center;
    }

    .name-wrapper {
        /* place-self: end end; */
        width: 100%;
        max-width: 100%;
    }
 

    .build-container {
        padding-top: 0;
       
        padding-bottom: 0rem;
        place-self: start;
        margin-bottom: 12rem;
    }
  
    .image-wrapper {
        column-gap: 0.5rem;
        place-content: center;
    }

    .image-wrapper--mobile {
        place-content: center;
    }

    .home-image-container:nth-child(1) {
        grid-row: 1/4;
        grid-column: 3/-1;
    }
    
    .home-image-container:nth-child(2) {
        grid-row: 1/4;
        grid-column: 2/3;
    }
    
    .home-image-container:nth-child(3) {
        grid-row: 1/4;
        grid-column: 1/2;
    }

    .hero--btm-text {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-four));
    }
    .hero-section-container {
        min-height: calc(100vh - var(--header-height-two));
        min-height: calc(100svh - var(--header-height-two));
    }

    .hero-left {
        /* padding-top: 3em; */
        /* align-self: start; */
    }

    .hero--btm-text {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .hero-section-container {
        min-height: calc(100vh - var(--header-height-three));
        min-height: calc(100svh - var(--header-height-three));
    }
}

@media screen and (max-width: 450px) {
    .page-wrapper {
        width: calc(100% - var(--page-margin-two));
    }

    .image-wrapper {
        column-gap: 0.4rem;
        place-content: center;
    }

    .image-wrapper--mobile {
        --image-size-mobile: clamp(10px, 58vw + 16px, 400px);
    }
}

@media screen and (max-width: 400px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 56vw + 16px, 400px);
    }
}

@media screen and (max-width: 300px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 55vw + 8px, 400px);
    }
    .hero-right--mobile {
        --image-size: calc(32vw + 10px);
    }
}

@media screen and (max-width: 300px) {
    .image-wrapper--mobile {
        column-gap: 0.5rem;
        --image-size-mobile: clamp(10px, 52vw + 8px, 400px);
    }
}

.footer {
    text-align: center;
    padding-top: 2rem;
}

.footer p:first-of-type {
    margin-top: 0.2em;
    margin-bottom: 1em;
    color: var(--clr-main);
}

.copyright {
    padding-bottom: 1rem;
    color: var(--clr-main);
}

.footer-logo-inner-container {
    display: inline-block;
    color: var(--clr-main);
}

.footer-logo-inner-container div:nth-child(1) {
    font-size: 34px;
    line-height: 1;
}

.footer-logo-inner-container div:nth-child(2) {
    font-size: 10.3px;
    position: relative;
}

.footer-logo-inner-container div:nth-child(2)::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    background: var(--clr-main);
    height: 1px;
    width: 12px;
}

.footer-logo-inner-container div:nth-child(2)::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    background: var(--clr-main);
    height: 1px;
    width: 12px;
}

.footer-padding-top {
    padding-top: 7rem;
}

.footer-email {
    display: block;
    color: var(--clr-main);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.footer-email:hover {
    text-decoration: underline;
    
}

